{% extends "base.html" %}

{% block mainform %}

      <!-- Main form -->
      <form id='main-form'>
        <!-- onsubmit='return false;' -->

        <!-- Toolbar -->
        <div id="toolbar-div" class="container-fluid mt-2 mb-2">

          <div class="input-group align-bottom">

            <!-- Analysis name selector -->
            <div class="input-group-prepend">
              <label class="input-group-text" for="analysis_pipelines-select-std">Standard:</label>
            </div>
            <select name="analysis_pipelines-select-std" class="form-control" style="max-width: 300px;"
              id="analysis_pipelines-select-std">
            </select>

            <div class="input-group-prepend ml-2">
              <label class="input-group-text" for="analysis_pipelines-select-latest">Latest:</label>
            </div>
            <select name="analysis_pipelines-select-latest" class="form-control" style="max-width: 300px;"
              id="analysis_pipelines-select-latest">
            </select>

            <div class="input-group-prepend ml-2">
              <label class="input-group-text" for="analysis_pipelines-select">All:</label>
            </div>
            <select name="analysis_pipelines-select" class="form-control" style="max-width: 300px;"
              id="analysis_pipelines-select">
            </select>

          </div>

        </div>
        <!-- end Toolbar -->

        <!--Analysis div -->
        <div id="analysis-div" class="container-fluid flex-fill">

          <div class="form-group">
            <textarea readonly name="analysis_pipeline-meta" class="form-control analysistextarea" rows=20
              id="analysis_pipeline-meta">
            </textarea>
          </div>

        </div>


                <!-- Toolbar -->
                <div id="toolbar-div" class="container-fluid mt-2 mb-2">

                  <div class="input-group align-bottom">
                    <!-- Analysis name selector -->
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="cellprofiler_version-select">CP-version:</label>
                    </div>
                    <select name="cellprofiler_version-select" class="form-control" style="max-width: 300px;"
                      id="cellprofiler_version-select">
                      <option value="v4.0.7">v4.0.7</option>
                      <option value="v4.2.1">v4.2.1</option>
                      <option value="v4.2.1-cellpose2.0">v4.2.1-cellpose2.0</option>
                      <option selected value="v4.2.5-cellpose2.0">v4.2.5-cellpose2.0</option>
                    </select>

                    <div class="form-group form-check" style="margin-bottom: 0px;margin-left: 5px">
                      <input type="checkbox" class="form-check-input" style="margin-top: 1.0rem;" name="run-uppmax-cbx" id="run-uppmax-cbx" checked>
                      <label class="form-check-label" style="margin-top:0.8rem;" for="run-uppmax-cbx">Run on Uppmax</label>
                    </div>

                    <div class="form-group form-check" style="margin-bottom: 0px;margin-left: 5px">
                      <input type="checkbox" class="form-check-input" style="margin-top: 1.0rem;" name="run-dardel-cbx" id="run-dardel-cbx">
                      <label class="form-check-label" style="margin-top:0.8rem;" for="run-dardel-cbx">Run on Dardel</label>
                    </div>

                    <div class="form-group form-check" style="margin-bottom: 0px;margin-left: 5px">
                      <input type="checkbox" class="form-check-input" style="margin-top: 1.0rem;" name="run-hpcdev-cbx" id="run-hpcdev-cbx">
                      <label class="form-check-label" style="margin-top:0.8rem;" for="run-hpcdev-cbx">Run on Hpc-dev</label>
                    </div>

                  </div>
                  <!-- end imput-->





                </div>
                <!-- end Toolbar -->


        <!-- Toolbar -->
        <div id="toolbar-div" class="container-fluid mt-2 mb-2">

          <div class="input-group align-bottom">

            <label class="input-group-text">Input data:</label>

            <!-- Plate aq input -->
            <div class="input-group-prepend ml-2">
              <label class="input-group-text" for="plate_acq-input">Plate acquisition id:</label>
            </div>
            <input class="form-control" style="max-width: 200px;" name="plate_acq-input" id="plate_acq-input">
            </input>

            <div class="input-group-prepend ml-2">
              <label class="input-group-text" for="well_filter-input">Well filter, e.g. C03,C04,E03 (optional):</label>
            </div>
            <input class="form-control" style="max-width: 200px;" name="well_filter-input" id="well_filter-input">
            </input>

            <div class="input-group-prepend ml-2">
              <label class="input-group-text" for="site_filter-input">Site filter, e.g. 1,2,3,4 (optional):</label>
            </div>
            <input class="form-control" style="max-width: 200px;" name="site_filter-input" id="site_filter-input">
            </input>

            <div class="input-group-prepend ml-2">
              <label class="input-group-text" for="z_plane-input">z-plane, e.g. 0,1,2 (optional) default = middle:</label>
            </div>
            <input class="form-control" style="max-width: 200px;" name="z_plane-input" id="z_plane-input">
            </input>

            <div class="input-group-prepend ml-2">
              <label class="input-group-text" for="priority-input">priority (1-9) (optional) default = no priority:</label>
            </div>
            <input class="form-control" style="max-width: 200px;" name="priority-input" id="priority-input">
            </input>

          </div>

        </div>
        <!-- end Toolbar -->

        <!-- Toolbar -->
        <div id="toolbar-div" class="container-fluid mt-2 mb-2">

          <div class="input-group align-bottom">
            <!-- Run button-->
            <button type="button" id="run-button" class="btn btn-warning ml-2">Run</button>
          </div>

        </div>
        <!-- end Toolbar -->


        <!-- plate-acquisition table div-->
        <div class="container-fluid flex-fill overflow-auto">
          <br>
          <h4>plate_acquisition</h4>
          <a target="adminer"
            href="{{ adminer_url }}/?pgsql=imagedb&username=postgres&db=imagedb&ns=public&select=plate_acquisition">
            view plate_acquisition in database
          </a>
        </div>
        <div id="plate-acq-table-div" class="container-fluid flex-fill">
        </div>

      </form>

{% end %}


{% block dialogs %}

  <!-- Modal dialog "Run analysis ...." -->
  <div class="modal" id="run-analysis-modal" tabindex="-1" role="dialog" aria-labelledby="run-protocolLabel"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="run-analysisLabel">Run analysis</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="runAnalysisModalBody" class="modal-body">
          Are you sure you want to run this analysis :-)
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-warning" onclick="apiRunAnalysis()">Run</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Alert modal alert OK-->
  <div class="modal" id="alert-modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h5 class="modal-title"></h5>
        </div>
        <div class="modal-body" id="alert-modal-body-div">
          Default message
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% end %}


{% block endscripts %}

  <!-- Body inline script -->
  <script>

    document.addEventListener('DOMContentLoaded', function() {

      // Setup UI
      initRunAnalysisPage();

      // Attach event listeners
      $('#run-button').click(function () {
        verifyRunAnalysisInputData();
      });

      var selects = document.querySelectorAll('[id^="analysis_pipelines-select"]');
      selects.forEach(function(select) {
          select.addEventListener('change', function() {
              // Reset other selects
              selects.forEach(function(otherSelect) {
                  if (otherSelect !== select) {
                      otherSelect.selectedIndex = 0;
                  }
              });

              redrawSelectedAnalysisPipeline();
          });
      });
    });

  </script>

{% end %}